[user]
	name = Kris Urbanski
	email = kris@whereibend.space
[core]
	autocrlf = input
	excludesFile = ~/.gitignore
[push]
	default = simple
[cola]
	spellcheck = false
[commit]
	template = /home/kris/.gitmessage